:root{
    --azul-escuro: #334355;
}

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient( #283a50, #132231);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 15px 5px #000000; 
    box-shadow: 0px 0px 15px 5px #000000;
    border-radius: 10px;
}

.container > img{
    width: 200px;
}

form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 15px 0px;
}

form > input{
    background-color: #a3a3a3;
    border: none;
    font-size: 20px;
    padding: 3px 10px;
    -webkit-box-shadow: 0px 0px 15px 2px #00000080; 
    box-shadow: 0px 0px 15px 2px #00000080;
    border-radius: 5px;
}

form > input::placeholder{
    color: rgb(0, 0, 0);
}

form > hr{
    width: 95%;
    margin: 15px 0px;
}

form > p{
    width: 100%;
    color: #ff0000;
    font-size: 18px;
    font-weight: 700;
}

form > #nome, form > #sobrenome{
    width: 45%;
}

form > #email, form > #password, form > #password-confirm{
    width: 100%;
}

form > .btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 15px;
}

form > .btn > button{
    padding: 10px 15px;
    border: none;
    background-color: rgb(8, 182, 8);
    border-radius: 7px;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    transition: 450ms;
}

form > .btn > button:hover{
    background-color: rgb(11, 146, 11);
}